@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

input {
    border: 1px solid black;
}

#file-input {
    width: 60%;
}

.file-container {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;

}

label {
    margin-bottom: -10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
}